



.App-header {
  background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75) ), url('/images/glitchbackground.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
}

.container {
  display: block;
  width: 960px;
  margin: 0 auto;
  position: relative;
  box-sizing: inherit;
  align-items: center;
}

.columns{
  display: flex;
  flex: none;
  padding: 0.75rem;
  align-items: center;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

.left-column{
  align-items: center;
  width: 50%;
  display: block;
  padding: 0.75rem;
 
}

.title{
  height:200px;
  /* font-size: 3.625rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.125; */
}

.subtitle{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.buttons-grouped{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
}

.right-column {
width: 50%;
padding: 0.75rem;
display: flex;
align-items: center;
max-width: 600px;
}

/* .warrior{
  height:250px;
} */

.buttons{
  color:white;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  background-color:black;
  height: 60px;  
}

.button-group{
  display: flex;
}

.control{
  padding-left: 20px;
}

.loginWrap{
  width: 390px;
  background: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input{
  width: 390px;
  height: 50px;
  background: transparent;
  /* padding: 0 10px 0 80px; */
  color:white;
}

.drop-zone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: black;
}

.drag-drop-img{
  height: 150px;
}

.drop-images-here{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fail-warrior{
  height: 200px;
}