



.App-header {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, .9) ), url('https://images.unsplash.com/photo-1533158307587-828f0a76ef46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
  /* filter: grayscale(100%); */
}

.container {
  display: block;
  width: 960px;
  margin: 0 auto;
  position: relative;
  box-sizing: inherit;
  align-items: center;
}

.columns{
  display: flex;
  flex: none;
  padding: 0.75rem;
  align-items: center;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  color: #998DA0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

.left-column{
  align-items: center;
  width: 50%;
  display: block;
  padding: 0.75rem;
 
}

.title{
  font-size: 3.625rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.125;
}

.subtitle{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.buttons-grouped{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
}

.right-column {
width: 50%;
padding: 0.75rem;
display: flex;
align-items: center;
max-width: 600px;
}

.buttons{
  color:white;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  background-color:black;
  height: 60px;
  width: 100px;
  
}

.button-group{
  display: flex;
}

.control{
  padding-left: 20px;
}